/* Animación de loading */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Mejorar la apariencia del dropdown */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-10 {
  z-index: 10;
}

/* Scrollbar personalizado para el dropdown */
.max-h-60::-webkit-scrollbar {
  width: 6px;
}

.max-h-60::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.max-h-60::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 10px;
}

.max-h-60::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}



.cards-container {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 4px; /* espacio para el scroll */
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f1f1f1;
  max-height: 65vh; /* Ajusta según lo que quieras visible */
}

/* Scrollbar para navegadores WebKit */
.cards-container::-webkit-scrollbar {
  width: 6px;
}

.cards-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}


